<ul class="list-unstyled">
    <% products.each do |product| %>
        <li>
            <div class="media">
                <img class="product__image">
            
                <div class = "media-body">
                    <div class="product-name"><h3><%= product.name %></h3></div>
                    <div class="product-price"><p><%= product.price %></p></div>
                    <div class="product-info"><p><%= product.info %></p></div>
                    <div class="vendor">
                        <span>出品者：</span>
                        <span class="vendor__name">
                            <%= link_to product.user.name, user_path(product.user) %>
                        </span>
                    </div>
                    <%= link_to "Edit", edit_product_path(product), class: "btn btn-success btn-sm"%>
                    <%= link_to "Delete", product, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm"%>
                </div>
            </div>
            
        </li>
    <% end %>
</ul>