<div class="container product-detail-container">
    <% if @product.picture.attached? %> 
        <img class="img-thumbnail product-detail__image" src="<%= (url_for(@product.picture)) %>" >
    <% else %>
        <div class= "img-thumbnail empty-product__image"></div>            
    <% end %>
    <h1><%= @product.name %></h1>
    <div>
        <p><%= @product.price %></p>
        <p><%= @product.info %></p>
        <p>出品主：<%= @product.user.name %></p>
    </div>
    <% if current_user.id == @product.user_id%>
        <%= link_to "Edit", edit_product_path(@product), class: "btn btn-success btn-sm"%>
        <%= link_to "Delete", product_path(@product), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm"%>
    <% end %>
    <%= render 'favoritelists/favorite_button', product: @product %>
</div>

