<div class="container product">
    <h1><%= @product.name %></h1>
    <div>
        <p><%= @product.price %></p>
        <p><%= @product.info %></p>
        <p>出品主：<%= @product.user.name %></p>
    </div>
    <%= render 'favoritelists/favorite_button', product: @product %>
</div>

